*.iml
.gradle/
/local.properties
local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/

# Compiled
*.apk
*.aab
*.dex
*.class

# Signing
*.jks
*.keystore

# Logs
*.log

# Assets
/assets/
